/* shared common styles */
* {
    margin: 0;
    padding: 0;
}

.font-erriweather {
    font-family: 'Merriweather', serif;
    margin: 10px 0 40px 0;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.center-position {
    width: 1320px;
    margin: 0 auto;

    margin-top: 20px;
    margin-bottom: 100px;
}

.fifth-heading {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.gray-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 40px 0;
}

.orenge-color {
    color: #F00;
}

/* header part */
.banner-bg {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;
}

.banner {
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}


.first-heading {
    color: #FFF;
    font-size: 72px;
    font-weight: 900px;
    margin-top: 0;
}

.third-heading {
    font-size: 32px;
    font-weight: 400px;
    color: #ffffffe9;
}

/* offer part */
.offer-first-heading {

    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.offer-fifth-heading {
    margin: 30px 0 15px 0;
}

.second-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}

#offer-photo {
    width: 802px;
    height: 500px;
    margin-top: 48px;
}

.offer-part {
    text-align: center;
    margin-top: 100px;
}

/* welcome part */
.welcome-bg {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    border-radius: 16px;
}

.welcome-part {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;

    margin-top: 100px;
}

.btn-style {
    color: #FFF;
    background-color: #070211;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    padding: 10px 20px;
}

.welcome-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 30px 0;
}

/* schedule part */
.schedule-part {
    background-color: rgb(255, 242, 242);
    padding: 80px 0;
    border-radius: 16px;
}

.schedule-part button {
    color: #FFF;
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 600;

    padding: 25px 25px 25px 30px;
    border-style: none;
    border-radius: 10px;
}

.btn-position {
    display: flex;
    justify-content: center;
    margin: 35px 0 10px 0;
}

.schedule-third-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

/* awesome part */
.awesome-product {
    margin: 0 0 10px 10px;
}

.awesome-product:hover {
    border: 05px solid #FF0000;
    border-radius: 16px;
}

/* subscribe part */
.subscribe-section {
    text-align: center;
    background-color: rgb(255, 242, 242);
    padding: 80px 0;
}

.input-part {
    font-size: 18px;
    font-weight: 400;
    padding: 25px 100px 25px 30px;
    border-style: none;

    border-radius: 20px 0 0 20px;
    margin-top: 30px;
}

.subscribe-button {
    color: #FFF;
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 600;

    padding: 25px 25px 25px 30px;
    border-style: none;
    border-radius: 0 20px 20px 0;
}

/* footer part */
footer {
    height: 609px;
    background-color: rgb(0, 0, 0);
}

.footer-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.alignment {
    display: flex;
    align-items: center;
}

.footer-alignment {
    display: flex;
    justify-content: space-around;
    line-height: 40px;

    padding: 100px 0 50px 0;
}

hr {
    width: 75%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.15);
}

.social-media-icon {
    padding: 100px 0 50px 0;

    display: flex;
    justify-content: center;
}

.social-media-icon img {
    margin-left: 10px;
}

.copyright-alignment {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;

    margin-top: 40px;
}

.copyright-alignment button {
    color: #FFF;
    background-color: #070211;

    font-size: 20px;
    font-weight: 600;

    padding: 25px 25px 25px 30px;
    border-style: none;
    border-radius: 20px;
}